################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitPractice/CoreWebAPI/bin/Debug/netcoreapp3.1
/GitPractice/CoreWebAPI/obj
/GitPractice/.vs/GitPractice/v16
/.vs
